//
// Author: OSTON <ti@oston.io>
// Name: Madalena
// Description: `refactor recarga`
// File: margin.scss
// Location: @/assets/sass/layout
//

@mixin margin($axis, $size: 0) {
	@include spacing('margin', $axis, $size);
}

@mixin padding($axis, $size: 0) {
	@include spacing('padding', $axis, $size);
}

@mixin spacing($property, $axis, $size: 0) {
	@if type-of($axis) == 'number' {
		@include spacing__default($property, $axis);
	} @else if type-of($axis) == 'string' {
		@if quote($axis) == 'horizontal' OR quote($axis) == 'vertical' {
			@include spacing__symetrical($property, $axis, $size);
		} @else if quote($axis) == 'only' {
			@include spacing__only($property, $size);
    }
	}
}

@mixin spacing__default($property, $size) {
	#{$property}: rem($size);
}

@mixin spacing__symetrical($property, $axis: horizontal, $spacing: 0) {
	$__result: if($spacing == auto, auto, rem($spacing));

	@if quote($axis) == 'horizontal' {
		#{$property}: {
			left: $__result;
			right: $__result;
		}
	} @else if quote($axis) == 'vertical' {
		#{$property}: {
			top: $__result;
			bottom: $__result;
		}
	}
}

@mixin spacing__only ($property, $list) {
	@each $prop, $space in $list {
		#{$property}: {
			#{$prop}: if($space == 'auto', $space, rem($space));
		}
	}
}
